{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="barba-wrapper">
  <div class="barba-container" data-namespace="underlayer">
    <div class="page-top">
      <div class="page-top__inner">
        <p class="scrollDown">SCROLLDOWN</p>
        <div class="title">
          <h2 class="title__text">My Featured <br>Projects</h2>
          <div class="border js-toRight"><span></span><span></span></div>
          <p class="title__lead">UI/UX</p>
          <!-- <div class="btn-wrap"><a class="btn" href="https://mens-reile.com/" target="_balnk">Visit site</a></div> -->
        </div>
        <div class="image image__reile"></div>
      </div>
    </div>
    <section class="wrapper">
      {% for project in projects %}
      <div class="meta" data-emergence="hidden">
        <div class="meta__back"></div>
        <div class="content meta__text-wrap">
          <ul class="meta__text">
            <li>
              <p class="small-title">ROLE</p>
              <p>{{project.role}}</p>
            </li>
            <li>
              <p class="small-title">DATE</p>
              <p>{{project.date}}</p>
            </li>
            <!-- <li>
              <p class="small-title">OVERVIEW</p>
              <p>{{project.description|safe}}</p>
            </li> -->
          </ul>
        </div>
        <div class="content"><img src="{{project.image}}" alt="{{project.title}}"></div>
      </div>
      <div class="text">
        <p class="heading-num">0{{project.id}}</p>
        <div class="text__wrap">
          <h2 class="heading">CONCEPT</h2>
          <p class="text__works">
            {{project.description|safe}}
          </p>
        </div>
      </div>
      {% endfor %}
      <br>
      <hr>
      <br>
      <div class="content content--mlarge back-btn-wrap"><a class="back-btn" href="{% url 'home'%}">BACK</a></div>
    </section>
  </div>
</main>

{% endblock %}